################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestTargetServer/bin/Debug
/TestGameGui/bin/Debug
/TestGameGui/obj/Debug
